body {
    font-family: Arial, sans-serif;
    margin: 15px;
  }
  
  textarea {
    display: block;
    width: 100%;
    resize: none;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }
  